@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Orbitron:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #e5eaef;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.main-container {
  width: 350px;
  height: 650px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 25px;
  background-color: #e5eaef;
}

.screen-container {
  width: 310px;
  height: 150px;
  font-size: 45px;
  border: none;
  text-align: end;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin: 20px;
  font-family: "Antic Slab", serif;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: none;
  margin-top: 70px;
  padding-top: 75px;
  background-color: #87a075;
}

.screen-container:focus {
  outline: none;
}

.btn-wrapper {
  width: 310px;
  height: 370px;
  border-radius: 25px;
  padding: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "long-btn long-btn . .";
  gap: 0;
  font-size: 25px;
  text-align: center;
  line-height: 2.5;
}

.long-btn {
  cursor: pointer;
  grid-area: long-btn;
  width: 140px;
  height: 60px;
  background-color: #e5eaef;
  border-radius: 15px;
  color: #6e605e;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.btn {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 60px;
  height: 60px;
  background-color: #e5eaef;
  border-radius: 25%;
  color: #6e605e;
}

.btn:active {
  transition: 2s;
  width: 55px;
  height: 55px;
}
.red-btn {
  color: #e5eaef;
  background-color: #eb1d36;
}

.blue-btn {
  color: #e5eaef;
  background-color: #0096ff;
}
.green-btn {
  color: #e5eaef;
  background-color: #097969;
  border-radius: 50%;
}

.yellow-btn {
  color: #e5eaef;
  background-color: #ffbf00;
  border-radius: 50%;
}

.red-btn,
.blue-btn,
.green-btn,
.yellow-btn {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
